.cabecalho,
.sobre-nos,
.testemunho,
.footer {
  background-color: #f8bbd0;
}

.categoria-card {
  width: 180px;
  height: 160px;
  background-color: #ffebee;
}

.card-title {
  width: 100px;
}

.imagem-cases-sucesso {
  border-radius: 50%;
}

.imagem-sobre-nos {
  border-radius: 10px;
}
